@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #000066;
  --color-secondary: #FFFFFF;
  --color-accent1: #CCCCFF;
  --color-accent2: #EE0000;
  --color-neutral: #999999;
  --color-success: #28A745;
  
  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
  color: var(--color-neutral);
  background-color: var(--color-secondary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--color-primary);
}